/* Logo */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

.title-container{
    text-decoration: none;
}

.title-container h1 {
    color: #F2B705;
    font-weight: 600;
    margin-top: 10px;
}

.logo-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.logo-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: -35px;
    font-weight: normal;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.logo-link:hover {
    color: rgb(82, 82, 235);
}