/* Navigation */
.navbar {
    display: flex;
    justify-content: flex-start;
    width: 40%;
  }
  
  .nav-link-admin,
  .nav-link-user,
  .nav-link-cancel {
    text-decoration: none;
    font-weight: bold;
    color:#F2B705;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding-right: 60px;
  }
  
  .nav-link-admin:hover,
  .nav-link-user:hover,
  .nav-link-cancel:hover {
    color: #4ccc;
  }