/* Payment Page */
.payment-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #282828;
    width: 600px;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 60px;
    min-height: 600px;
    height: auto;
    color: white;
    position: relative;
}

.payment-header {
    color: white;
}

.order-summary {
    width: 50%;
    position: relative;
    min-height: 200px; 
}

.payment-input {
    margin-bottom: 20px; 
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    background-color: #282828;
}

.order-summary div {
    padding: 5px;
}

.payment-input label {
    color: white;
    font-size: 14px;
}

.payment-input input {
    width: 90%;
    padding: 8px;
    padding-top: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-right: 170px;
}

.payment-input input:hover {
    border-color: #4ccc;
    outline: none;
    cursor: pointer;
}

.payment-input input:focus {
    border-color: #4ccc;
    outline: none;
}

input[type="radio"] {
    margin-right: 5px;
    align-self: flex-start;
}

label {
    font-size: 16px;
    font-weight: normal;
}

.radio-option {
    margin-left: -80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: left;
    margin-bottom: 10px; 
    width: 100%; 
}

.radio-option input[type="radio"] {
    margin-right: -60px;
}

.radio-option label {
    color: white;
    font-size: 14px;
    width: 100%;
}

    

/* Buttons */
.payment-button {
    width: 20%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.payment-button:hover {
    background-color: #4ccc;
}
